* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

@font-face {
    font-family: 'Heal The Web';
    src: url('/fonts/HealTheWebB-Regular.otf') format('opentype'); // 'HealTheWeb.otf' muss in public/fonts/ liegen
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

body {
    background-color: #EBECED;
    display:flex;
    flex-direction: column;
    height: 100vh;
    width:100vw;
    overflow: hidden;
}

h1, h2, h3, h4 {
    font-family: 'Heal The Web', sans-serif;
    font-weight: normal;
    color: #0001FE;
}

p, a {
    font-family: Syne, sans-serif;
    font-weight: 400;
    color: #25432F;
}

h5{
    font-family: Syne, sans-serif;
    font-weight: 600;
    color: #25432F;
}


//breakpoints
$mobile: 576px;
$tablet: 768px;
$desktop: 1200px