* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    background-color: #EBECED;
}

h1, h2, h3, h4 {
    font-family: Heal The Web, sans-serif;
    font-weight: normal;
    color: #0001FE;
}

p, a {
    font-family: Syne, sans-serif;
    font-weight: 400;
    color: #25432F;
}

h5{
    font-family: Syne, sans-serif;
    font-weight: 600;
    color: #25432F;
}